@font-face {
    font-family: 'PokemonBW';
    src: url('fonts/pokemon-b-w.ttf') format('truetype');
}


:root {
    --pri-dark: #183e57;
    --pri-neutral: #22577a;
    --pri-light: #38a3a5;
    --pri-lighter: #dbf4f6;
    --sec-dark: #57cc99;
    --sec-neutral: #80ed99;
    --sec-light: #c7f9cc;
    --sec-lighter: #e0f7e2;
}



* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'PokemonBW';
    font-size: min(2vw, 15px);
}

html,
body {
    margin: 0;
    height: 100%;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--sec-light);
}

#title {
    text-align: center;
    font-size: min(10vw, 50px);
    padding: 0.5em;
}

#console {
    width: 85%;
    max-width: 600px;
    border: 1.5em solid var(--pri-neutral);
    border-radius: 1.5em;

    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 0fr;

}

/* ------------------ */
/* Inside battle area */
/* ------------------ */

.battle {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}


#scene {
    display: block;
    position: relative;
    width: 100%;
}

#player {
    position: absolute;
    width: 40%;
    bottom: -3%;
    left: 10%;
    z-index: 10;
}

#computer {
    position: absolute;
    width: 28%;
    top: 2%;
    right: 10%;
}

.p-info {
    position: absolute;
    height: 10%;
    width: 35%;
    bottom: 20%;
    right: 2%;
}

.c-info {
    position: absolute;
    height: 10%;
    width: 35%;
    top: 20%;
    left: 2%;
}

#p-tag {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
}

#c-tag {
    position: absolute;
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
}

.name {
    position: absolute;
    color: #fff;
    display: inline-block;
    top: -14%;
    font-size: 1.8em;
    font-weight: 500;
    text-shadow:
        0.06em 0.06em 0 #000,
        -0.06em 0.06em 0 #000,
        -0.06em -0.06em 0 #000,
        0.06em -0.06em 0 #000;
}

.level {
    right: 14%
}

.healthBar {
    position: absolute;
    border: 0.12em solid #151515;
    border-radius: 0.3em;
    background-color: #39c440;

    width: 6.1em;
    height: 0.51em;
    top: 59%;
    transition: width 0.5s;
}

#p-healthBar {
    left: 42.5%;
}

#c-healthBar {
    left: 32.5%;
}

.health {
    position: absolute;
    color: #fff;
    display: inline-block;
    top: 88%;
    font-size: 1.3em;
    font-weight: 550;
    font-style: italic;
    text-shadow:
        0.07em 0.07em 0 #000,
        -0.07em 0.07em 0 #000,
        -0.07em -0.07em 0 #000,
        0.07em -0.07em 0 #000;
}

#p-health {
    left: 53%;
}

#p-healthTotal {
    left: 72%;
}

.attack {
    position: absolute;
    transform-origin: center;
    opacity: 0;
}

#p-attack {
    z-index: 3;
    width: 7em;
    bottom: 0%;
    left: 28%;
}

#c-attack {
    width: 6em;
    top: 15%;
    right: 20%;
    z-index: 1;
}


/* -------------------- */
/* Inside interact area */
/* -------------------- */

.interact {
    display: flex;
    z-index: 10;
    height: 100%;
    border: 1em solid var(--pri-light);
    background-color: var(--pri-light);
}

#textbox {
    height: 100%;
    flex: 1.2;
    padding: 3%;
    background-color: var(--pri-dark);
    border-color: var(--pri-light);
    border-radius: 0.5em;
    margin-right: 0.5em;

    color: white;
    font-size: 1.7em;
}

.choices {
    height: 100%;
    flex: 1;
    align-content: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.choiceBtn {
    background-color: var(--pri-light);
    border: 0.2em solid var(--pri-dark);
    border-radius: 1em;
    margin: 0.1em;
    padding: .4em;
    font-weight: 700;
    text-align: left;
    font-size: 1.4em;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
    transition-duration: 0.1s;
}

button:active {
    filter: brightness(1);
    transition-duration: 0s;
}

button:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.718);
    opacity: 1;
}


#rockBtn {
    background-color: #cc5757;
}

#paperBtn {
    background-color: #577ecc;
}

#scissorsBtn {
    background-color: #57cc5d;
}

#statusBtn {
    background-color: #c657cc;
}

/* ------------------- */
/* Inside control area */
/* ------------------- */
.control {
    background-color: var(--pri-neutral);
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.controlBtn {
    border: 0.3em solid var(--pri-light);
    border-radius: 1em;
    background-color: var(--pri-lighter);

    padding: .4em 2em;
    font-weight: 700;
    text-align: left;
    font-size: 1.4em;
    cursor: pointer;
    transition: filter 0.2s;
}


/* ---------- */
/* ---------- */
/* ANIMATIONS */
/* ---------- */
/* ---------- */

/* ------------------ */
/* Opening animations */
/* ------------------ */

.start-anim#player {
    animation: p-moveIn 1s;
}

.start-anim#computer {
    animation: c-moveIn 1.2s;
}

@keyframes p-moveIn {
    0% {
        transform: translateX(-25em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes c-moveIn {
    0% {
        transform: translateX(20em);
    }

    25% {
        transform: translateX(20em);
    }

    100% {
        transform: translateX(0em);
    }
}

/* ----------------- */
/* Battle animations */
/* ----------------- */
.battle-anim#player {
    animation: p-attack 1s;
}

.battle-anim#computer {
    animation: c-attack 1s;
}

@keyframes p-attack {
    0% {
        transform: translateY(0em);
    }

    10% {
        transform: translateY(.3em);
    }

    25% {
        transform: translateX(1em) translateY(-0.6em);
    }

    50% {
        transform: translateX(2em) translateY(0.2em);
        ;
    }

    100% {
        transform: translateY(0em);
    }
}

@keyframes c-attack {
    0% {
        transform: translateY(0em);
    }

    25% {
        transform: translateX(-0.5em) translateY(-1em);
    }

    50% {
        transform: translateX(-1em) translateY(0.3em);
    }

    100% {
        transform: translateY(0em);
    }
}

@keyframes tie {
    50% {
        transform: translateY(-0.5em);
    }

    70% {
        transform: translateY(0.5em);
    }

    80% {
        transform: scale(1.2);
    }
}

@keyframes hurt {
    50% {
        transform: translateY(1em);
    }

    70% {
        transform: rotate(20deg);
    }

    80% {
        transform: scale(1.2);
        filter: sepia(100%);
    }
}

/* DRAW */
.battle-anim.draw#p-attack {
    animation: p-drawAttack 1s;
}

.battle-anim.draw#c-attack {
    animation: c-drawAttack 1s;
}

/* PLAYER WINS */
.battle-anim.win#p-attack {
    animation: p-winAttack 1s;
}

.battle-anim.lose#c-attack {
    animation: c-loseAttack 1s;
}

/* COMP WINS */
.battle-anim.lose#p-attack {
    animation: p-loseAttack 1s;
}

.battle-anim.win#c-attack {
    animation: c-winAttack 1s;
}

@keyframes p-drawAttack {
    50% {
        transform: scale(0.8) translateY(-4em) translateX(6em);
        opacity: 1;
    }

    100% {
        transform: scale(0.8) translateX(9em);
        opacity: 0;
    }
}

@keyframes c-drawAttack {
    50% {
        transform: scale(1) translateY(4em) translateX(-6em);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateX(-9em);
        opacity: 0;
    }
}

@keyframes p-winAttack {
    50% {
        transform: scale(0.8) translateY(-4em) translateX(6em);
        opacity: 1;
    }

    65% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(0.7) translateY(-12em) translateX(18em);
        filter: brightness(3);
        opacity: 0;
    }
}

@keyframes c-loseAttack {
    50% {
        transform: scale(1) translateY(4em) translateX(-6em);
        opacity: 1;
    }

    65% {
        opacity: 1;
        filter: brightness(0.5);
    }

    100% {
        transform: scale(1) translateX(-9em);
        filter: brightness(0);
        opacity: 0;
    }
}

@keyframes p-loseAttack {
    50% {
        transform: scale(0.8) translateY(-4em) translateX(6em);
        opacity: 1;
    }

    65% {
        opacity: 1;
        filter: brightness(0.5);
    }

    100% {
        transform: scale(0.8) translateX(9em);
        filter: brightness(0);
        opacity: 0;
    }
}

@keyframes c-winAttack {
    50% {
        transform: scale(1) translateY(4em) translateX(-6em);
        opacity: 1;
    }

    65% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.6) translateY(6.5em) translateX(-9em);
        filter: brightness(3);
        opacity: 0;
    }
}



.renderBar {
    animation: renderBar 0.5s;
}

@keyframes renderBar {
    50% {
        filter: brightness(3);
    }

    100% {
        filter: brightness(1);
    }
}