@font-face {
    font-family: 'PokemonBW';
    src: url('fonts/pokemon-b-w.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'PokemonBW';
    font-size: min(2vw, 15px);
}

html,
body {
    margin: 0;
    height: 100%;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #cacaca;
}

#title {
    text-align: center;
    font-size: min(10vw, 50px);
    padding: 0.5em;
}

#console {
    width: 85%;
    max-width: 600px;
    border: 1.5em solid #3b3d47;
    border-radius: 1.5em;

    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 0fr;

}

/* Inside battle area */
.battle {
    position: relative;
    max-width: 100%;
}


#scene {
    display: block;
    position: relative;
    width: 100%;
}

#player {
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: 10%;
}

#computer {
    position: absolute;
    width: 28%;
    top: 2%;
    right: 10%;
}

.p-info {
    position: absolute;
    height: 10%;
    width: 35%;
    bottom: 20%;
    right: 2%;
}

.c-info {
    position: absolute;
    height: 10%;
    width: 35%;
    top: 20%;
    left: 2%;
}

#p-tag {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
}

#c-tag {
    position: absolute;
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
}

.name {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 500;
    text-shadow:
        0.06em 0.06em 0 #000,
        -0.06em 0.06em 0 #000,
        -0.06em -0.06em 0 #000,
        0.06em -0.06em 0 #000;
}

.level {
    right: 16%
}

/* Inside interact area */
.interact {
    display: flex;
    z-index: 10;
    height: 100%;
    background-color: #3b3d47;
}

#textbox {
    height: 100%;
    flex: 1.2;
    background-color: #3b3d47;
    padding: 2%;
    border-width: 0.5em 0em 0.5em 0.5em;
    border-style: solid;
    border-radius: 0.4em;
    border-color: #47e084;

    color: white;
    font-size: 1.7em;
}

.choices {
    height: 100%;
    flex: 1;
    border: 0.5em solid #4dc73f;
    border-radius: 0.4em;
    align-content: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


button {
    padding: .4em;
    font-weight: 700;
    text-align: left;
    font-size: 1.4em;
}